*{
  padding: 0;
  margin: 0;
  width: auto;
}

.room {
	width: 600px;      /* チャットルームの幅を指定 */
	background: #eee;  /* チャットルームの背景を灰色 */
	padding: 10px;     /* 余白を10pxキープ */
	margin: auto
}

.chat {
	display: flex;        /* 要素を横並び */
	margin-bottom: 10px;  /* チャット同士に隙間を作る */
}

.chat .mes {
	max-width: 70%;       /* 短いチャットにも対応させるため、widthではなくmax-widthを指定 */
	border-radius: 20px;  /* （あとでも可）角丸を指定 */
	padding: 0.5em;       /* （あとでも可）メッセージの内側に余白 */
}

.chat .status {
	color: #aaa;          /* 文字色を灰色に指定 */
	font-size: 11px;      /* 文字サイズは小さめ */
	align-self: flex-end; /* この要素は下寄せ */
	margin: 0 5px;        /* 左右に隙間を作る（ちょっと楽してます）*/
}

/* 相手メッセージのCSS */
.chat.you .mes{
  color: #fff;        /* 文字色を白 */
  background: #000;   /* 背景を黒 */
}

/* 自分メッセージのCSS */
.chat.me {
  flex-direction: row-reverse;  /* 左右の並び順を逆順にする */
}

.chat.me .mes{
  background: #5AC323;          /* 背景色を緑 */
}

.chat .status {
  text-align: right;            /* 右寄せにする */
}



.profile-image-wrapper {
  position: relative;
  display: inline-block;
}

.profile-image {
  width: 500px;
  height: auto;
  display: block;
}

.profile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff; /* 白文字 */
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  pointer-events: none; /* クリックを画像に通す */
}

/* 文字の位置調整 */
#overlayName {
  position: absolute;
  top: 70%; /* 画像上部からの距離 */
  left: 10%;
  font-size: 1.5em;
}

#overlayAge {
  position: absolute;
  top: 78%;
  left: 10%;
  font-size: 1.2em;
}

#overlayFood {
  position: absolute;
  top: 86%;
  left: 10%;
  font-size: 1.2em;
}